@keyframes slidein
{
  0%
  {
    top: -400px;
    opacity: 0;
  }
  100%
  {
    opacity: 1;
    top: 0px;
  }
}

@keyframes slideout
{
  0%
  {
    top: 0;
    opacity: 1;
  }
  100%
  {
    top: -400px;
    opacity: 0;
  }
}
  
body
{
  background: #eee;
  font-family: "Tahoma";
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#scene
{
  display: flex;
  align-items: center;
  justify-content: left;
  width: 1500px;
  height: 600px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  overflow: hidden;
}

#left-zone
{
  background: #fff;
  height: 75%;
  flex-grow: 0;
  display: flex;
  width: 350px;
  align-items: center;
  justify-content: left;
}

.list
{
  display: flex;
  list-style: none;
  align-content: stretch;
  flex-direction: column;
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

.list li.item input[type="radio"]
{
  display: none;
}

.list li.item input[type="radio"] ~ label
{
  display: block;
  opacity: 0.5;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

  
.list li.item input[type="radio"] ~ label:hover
{
  opacity: 0.75;
  cursor: pointer;
}

.list li.item input[type="radio"] ~ label.label_inicio:before
{
  content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background-image: url('../img/home.png');
  background-position: center;
  background-size: 75% 75%;
  background-repeat: no-repeat;
}

.list li.item input[type="radio"] ~ label.label_custeio:before 
{
  content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background-image: url('../img/bar-chart.png');
  background-position: center;
  background-size: 75% 75%;
  background-repeat: no-repeat;
}

.list li.item input[type="radio"] ~ label.label_beneficiados:before
{
  content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background-image: url('../img/money.png');
  background-position: center;
  background-size: 75% 75%;
  background-repeat: no-repeat;
}

.list li.item input[type="radio"] ~ label.label_municipio:before
{
  content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background-image: url('../img/money2.png');
  background-position: center;
  background-size: 75% 75%;
  background-repeat: no-repeat;
}

.list li.item input[type="radio"] ~ label.label_devs:before
{
  content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background-image: url('../img/light.png');
  background-position: center;
  background-size: 75% 75%;
  background-repeat: no-repeat;
}

.list li.item input[type="radio"] ~ .content
{
  position: absolute;
  left: 350px;
  top: -400px;
  width: 65%;
  height: 100%;
  animation-duration: 0.75s;
  animation-name: slideout;
  animation-timing-function: ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.list li.item input[type="radio"]:checked ~ label
{
  opacity: 1;
  animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.list li.item input[type="radio"]:checked ~ label.label_inicio
{
  color: #23A88E;
  border-right: solid 4px #23A88E;
}

.list li.item input[type="radio"]:checked ~ label.label_custeio
{
  color: #EE64F5;
  border-right: solid 4px #EE64F5;
}

.list li.item input[type="radio"]:checked ~ label.label_beneficiados
{
  color: #4DF5D3;
  border-right: solid 4px #4DF5D3;
}

.list li.item input[type="radio"]:checked ~ label.label_municipio
{
  color: #F5C833;
  border-right: solid 4px #F5C833;
}

.list li.item input[type="radio"]:checked ~ label.label_devs
{
  color: #A88C2F;
  border-right: solid 4px #A88C2F;
}

.list li.item input[type="radio"]:checked ~ .content
{
  animation-duration: 0.75s;
  animation-name: slidein;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

#middle-border
{
  background-color: #eee;
  height: 75%;
  flex-grow: 1;
  max-width: 2px;
  z-index: 0;
}

#right-zone
{
  background: #fff;
  height: 100%;
  flex-grow: 3;
}