:root
{
  --fundo: #eee;
  --fundo-interno: #fff;
  --inicio-color: #CE94BC;
  --custeio-color: #DBBFDB;
  --beneficiados-color: #B6B5D8;
  --municipio-color: #B59DFA;
  --devs-color: #877BAE;

  --inicio-icon: url('../img/home.png');
  --custeio-icon: url('../img/bar-chart.png');
  --beneficiados-icon: url('../img/money.png');
  --municipio-icon: url('../img/money2.png');
  --devs-icon: url('../img/light.png');
}

@keyframes slidein
{
  0%
  {
    top: -400px;
    opacity: 0;
  }
  100%
  {
    opacity: 1;
    top: 0px;
  }
}

@keyframes slideout
{
  0%
  {
    top: 0;
    opacity: 1;
  }
  100%
  {
    top: -400px;
    opacity: 0;
  }
}
  
body
{
  background: var(--fundo);
  font-family: "Tahoma";
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#scene
{
  display: flex;
  align-items: center;
  justify-content: left;
  width: 1500px;
  height: 600px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: var(--fundo-interno);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  overflow: hidden;
}

#left-zone
{
  background: var(--fundo-interno);
  height: 75%;
  flex-grow: 0;
  display: flex;
  width: 350px;
  align-items: center;
  justify-content: left;
}

.list
{
  display: flex;
  list-style: none;
  align-content: stretch;
  flex-direction: column;
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

.list li.item input[type="radio"]
{
  display: none;
}

.list li.item input[type="radio"] ~ label
{
  display: block;
  opacity: 0.5;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

  
.list li.item input[type="radio"] ~ label:hover
{
  opacity: 0.75;
  cursor: pointer;
}

.list li.item input[type="radio"] ~ label.label_inicio:before
{
  content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background-image: var(--inicio-icon);
  background-position: center;
  background-size: 75% 75%;
  background-repeat: no-repeat;
}

.list li.item input[type="radio"] ~ label.label_custeio:before 
{
  content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background-image: var(--custeio-icon);
  background-position: center;
  background-size: 75% 75%;
  background-repeat: no-repeat;
}

.list li.item input[type="radio"] ~ label.label_beneficiados:before
{
  content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background-image: var(--beneficiados-icon);
  background-position: center;
  background-size: 75% 75%;
  background-repeat: no-repeat;
}

.list li.item input[type="radio"] ~ label.label_municipio:before
{
  content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background-image: var(--municipio-icon);
  background-position: center;
  background-size: 75% 75%;
  background-repeat: no-repeat;
}

.list li.item input[type="radio"] ~ label.label_devs:before
{
  content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background-image: var(--devs-icon);
  background-position: center;
  background-size: 75% 75%;
  background-repeat: no-repeat;
}

.list li.item input[type="radio"] ~ .content
{
  position: absolute;
  left: 350px;
  top: -400px;
  width: 65%;
  height: 100%;
  animation-duration: 0.75s;
  animation-name: slideout;
  animation-timing-function: ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.list li.item input[type="radio"]:checked ~ label
{
  opacity: 1;
  animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.list li.item input[type="radio"]:checked ~ label.label_inicio
{
  color: var(--inicio-color);
  border-right: solid 4px var(--inicio-color);
}

.list li.item input[type="radio"]:checked ~ label.label_custeio
{
  color: var(--custeio-color);
  border-right: solid 4px var(--custeio-color);
}

.list li.item input[type="radio"]:checked ~ label.label_beneficiados
{
  color: var(--beneficiados-color);
  border-right: solid 4px var(--beneficiados-color);
}

.list li.item input[type="radio"]:checked ~ label.label_municipio
{
  color: var(--municipio-color);
  border-right: solid 4px var(--municipio-color);
}

.list li.item input[type="radio"]:checked ~ label.label_devs
{
  color: var(--devs-color);
  border-right: solid 4px var(--devs-color);
}

.list li.item input[type="radio"]:checked ~ .content
{
  animation-duration: 0.75s;
  animation-name: slidein;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

#middle-border
{
  background-color: var(--fundo);
  height: 75%;
  flex-grow: 1;
  max-width: 2px;
  z-index: 0;
}

#right-zone
{
  background: var(--fundo-interno);
  height: 100%;
  flex-grow: 3;
}

/*
    Estilo do botão
*/

.toggle input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggle label {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: var(--devs-color);
  float: right;
  border-radius: 100px;
  position: relative;
}

.toggle label::after{
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 90px;
  transition: 0.3s;
}

.toggle input:checked + label {
  background-color: var(--devs-color);
}

.toggle input:checked + label::after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.toggle label:active:after {
  width: 45px;
}